h2 { 
  margin-bottom: 20px;
}
.UserPlaylists {
    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    width: 32%;
    max-height: 950px;
    padding: .88rem;
    border: .5px solid #dadada;
  }

  @media only screen and (max-width: 1020px) {
    .UserPlaylists {
      width: 100%;
    }
  }